input, textarea{
    outline: none;
}

/*Cabeçalho*/

header{
    position: fixed;
}

.bg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

.menu{
    margin-right: 10px;
    float: right;
    font-size: 17px;
}

.menu li a{
    float: right;
}

#navbarText{
    float: right;
}

#navbarText ul{
    margin-left: auto;
    margin-right: auto;
}

#navbarText ul li{
    margin-left: 10px;
}

#navbarText ul li:hover{
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(57, 92, 104);
}

.logo{
    padding: 13px;
    text-align: center;
    cursor:pointer;
    float: left;
}

.login{
    text-align: center;
    padding: 12px;
    font-size: 12px;
    color: white;

}

.login p{
    font-size: 17px;
    text-align: right;
    margin-bottom: 2px;

}

.login input{
    border-radius: 5px;
    font-size: 12px;
    color: black;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border: 1px solid black;
}

.login button{
    text-align: center;
    width: auto;
    height: auto;
    border: 1px solid white;
    font-size: 11px;
    color: white;
    background-color:rgb(57, 92, 104);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: auto;
}

.login button:hover{
    background-color:rgb(11, 44, 55);
    cursor: pointer;
}

.login a{
    cursor: pointer;
}

/*Main*/

.switch{
    margin-top: 5px;
    float: left;
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.switch .switch-text{
    padding-right: 0.3rem;

}

.switch .switch-wrapper{
    margin-top: 3px;
    padding: 3px;
    display: inline-block;
    width: 45px;
    height: 22px;
    position: relative;
    margin-left: 5px;
}

.switch .switch-wrapper .switch-button{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #475569;
}

.switch .switch-wrapper input{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .switch-wrapper .switch-button::before{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    transition: 0.4s all ease;
    background-color: aliceblue;

}

.switch .switch-wrapper input:checked + .switch-button{
    background-color: #58a721;
}

.switch .switch-wrapper input:checked + .switch-button::before{
    transform: translateX(26px);
}

.categorias2 label{
    color: white;
}


.categorias2 div{
    float: left;
}

.catalogo{
    margin-top: 30px;
    float: right;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}

.catalogo::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.catalogo::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}
.catalogo::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 5px;
}

.catalogo::-webkit-scrollbar-track-piece{
    background-color:rgb(6, 31, 39);
}

.produto{
    margin-bottom: 10px;
    color: white;
    height: 300px;
    float: left;

}

.box_img{
    background-color:rgb(187, 200, 210);
    border-radius: 5px;
    margin-top: 15px;
}

.box_img p{
    border-radius: 5px;
    position: absolute;
    top: 0;
    margin-top: 15px;
    left: 1;
    width: 320px;
    height: 250px;
    background:rgba(0, 0, 0, 0.7);
    color: #d6d0d0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.25s;
}

.box_img p > *{
    transform: translateY(20px) ;
    transition: transform 0.25s;
}

.box_img p:hover{
    opacity: 1;
}

.box_img p:hover > *{
    transform: translateY(0) ;
}

.corpo_catalogo{
    margin-top: 20px;
    min-height: 2050px;
    background-color:rgb(6, 31, 39);
    border-radius: 5px;
    padding: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.categorias2{
    height: 50px;
    font-size: 23px;
    float: left;
}

.paginacao{
    height: 60px;
    width: 300px;
    float: left;
    margin-top: 50px;
    margin-left: 400px;
}

@media(min-width:0px) and (max-width:576px) {
    .corpo_catalogo{
        min-height: 5450px;
    }

    .catalogo{
        height: 5250px;
    }

    .categorias2{
        font-size: 1rem;
        height: 90px;
        
    }

    .switch{
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 13px;
        width: 140px;
    }

    .switch .switch-wrapper{
        width: 40px;
        height: 17px;
        margin-left: -1px;

    }

    .switch .switch-wrapper .switch-button::before{
        width: 12px;
        height: 12px;
    }

    .box_img p{
        width: 363px;
        height: 250px;
    }

    .paginacao{
        margin-left: 80px;
        margin-top: 350px;
    }

    .login{
        text-align: right;
    }

}

@media(min-width:576px) and (max-width:776px) {
    .corpo_catalogo{
        min-height: 5450px;
    }

    .catalogo{
        height: 5250px;
    }

    .categorias2{
        font-size: 1rem;
        height: 90px;
        
    }

    .switch{
        margin-top: 10px;
        margin-left: 55px;
        margin-right: 13px;
        width: 140px;
    }

    .switch .switch-wrapper{
        width: 40px;
        height: 17px;
        margin-left: -1px;

    }

    .switch .switch-wrapper .switch-button::before{
        width: 12px;
        height: 12px;
    }

    .box_img p{
        width: 418px;
        height: 250px;
    }

    .paginacao{
        margin-left: 100px;
        margin-top: 350px;
    }

    .login{
        text-align: right;
    }
}

@media(min-width:776px) and (max-width:992px) {
    .corpo_catalogo{
        min-height: 5450px;
    }

    .catalogo{
        height: 5250px;
    }

    .categorias2{
        font-size: 1rem;
        
    }

    .categorias2 div{
        float: left;
        margin-left: 28px;
    }

    .switch{
        margin-left: 5px;
        margin-right: 10px;
        width: 140px;
    }

    .switch .switch-wrapper .switch-button::before{
        width: 16px;
        height: 16px;
        left:0;

    }

    .box_img p{
        width: 598px;
        height: 250px;
    }

    .paginacao{
        margin-left: 200px;
        margin-top: 350px;
    }

    .login{
        text-align: right;
    }
}

@media(min-width:992px) and (max-width:1200px){
    .categorias2{
        font-size: 1.2rem;
        
    }

    .catalogo{
        height: 1850px;
    }

    .categorias2 div{
        float: left;
        margin-left: 80px;

    }

    .switch{
        margin-left: 20px;
        margin-right: 30px;
        width: 160px;
    }

    .box_img p{
        width: 259px;
        height: 250px;
    }

    .paginacao{
        margin-left: 310px;
    }
}

@media(min-width:1200px){
    .catalogo{
        height: 1850px;
    }

    .categorias2{
        font-size: 1.5rem;
        
    }

    .categorias2 div{
        float: left;
        margin-left: 110px;

    }
    .switch{
        margin-left: 40px;
        margin-right: 40px;
        width: 170px;
    }
}

.categorias2 label{
    color: white;
}


.categorias2 div{
    float: left;
}

.catalogo{
    margin-top: 10px;
    float: right;
    text-align: center;
}

.produto{
    margin-bottom: 10px;
    color: white;
    height: 300px;
    float: left;
}

.box_img{
    background-color:rgb(187, 200, 210);
    border-radius: 5px;
}


/*Rodapé*/

.row7{
    background-color:rgb(29, 48, 55);
    width: 100%;
    min-height: 90px;
}

.quebra_linha2{
    border: 1px solid white;
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-color: white;
    float: right;
}

.volta_topo{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 60px;
    float: right;
}

.volta_topo svg{
    margin-top: 15px;
}

@media(min-width:600px) and  (max-width:999px){
    .corpo_catalogo{
        height: 1900px;
    }
}

.registro{
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    float: left;
}

.registro p{
    text-align: center;
    color: white;
    margin-top: 10px;
}

@media(min-width:0px) and (max-width:599px) {
    .registro p{
        font-size: 0.7rem;
    }
}
@media(min-width:599px) and (max-width:799px) {
    .registro p{
        font-size: 0.8rem;
    }
}